@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
    --main-bg-color: #dbe4f0;
    --dark-bg-color:#389bec;
    --light-bg-color: #eff6ff;
}
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}
body {
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 16vh 84vh;
}
.header {
    display: grid;
    grid-template-columns: 4rem 1fr;
    padding-top: 1.5rem;
}
h1 {
    display: flex;
    margin: 0;
    align-items: center;
    height: 100%;
}
.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: var(--dark-bg-color);
    color: white;
    padding: 0 0 60rem 1.5rem;
    font-weight: 500;
}
.sidebar > div:not(.header) {
    display: grid;
    row-gap: 1rem;
    padding-top: 4rem;
    grid-template-columns: 4rem 1fr;
}
.sidebar p {
    font-size: 1.6rem;
}
.topbar {
    padding: 1.5rem 3rem 0 4rem;
    background-color: var( --light-bg-color);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 30fr 2fr 2fr 5fr;
    grid-template-rows: 3fr 7fr;
}
.content {
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-rows: 1fr repeat(3, 6fr);
    grid-template-columns: 3fr 3fr 1fr;
    gap: 2rem;
    padding: 0 2rem 3rem 2rem;
}
.content p {
    color: rgb(60, 64, 73);
}
.cardbottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;
    position: absolute;
    gap: 1rem;
    bottom: 1rem;
    right: 2rem;
    
}
.content > div:not(.contentside) {
    background-color: var( --light-bg-color);
    border-radius: 1rem;
    border-left: 10px solid #2a2a2a;
    padding: 2rem 0rem 0 3rem;
    position: relative;
}
.content > div:not(.contentside) > p {
    padding-right: 20%;
    font-size: 1.2rem;
}
.contentside {
    display: grid;
    grid-column: 3;
    grid-row: 2 / 5;
    background-color: var(--main-bg-color);
    grid-template-rows: 12fr 1fr 12fr;
    gap: 2rem;
}
.content > h2 {
    padding-top: 2.5rem;
    margin: 0 0 -2rem 0;
}
.contentside > h2 {
    padding-top: 1.5rem;
    margin: 0 0 -2rem 0;
}
.contentside > div {
    background-color: var( --light-bg-color);
    border-radius: 1rem;
}
.announcements {
    display: grid;
    padding: 1.5rem 3rem 1.5rem 3rem;
}
.announcements p {
    font-size: .85rem;
}
.announcements div:first-child {
    border-bottom: 2px solid var(--main-bg-color);
}
.announcements div:last-child {
    border-top: 2px solid var(--main-bg-color);
}
p {
    margin-top: 0;
}
h3, h2, h4{
    margin-bottom: 0;
}
.trending {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-items: center;
    padding: 2rem 3rem 2rem 3rem;
}
.trending img {
    height: 60px;
    width: 60px;
    border-radius: 60px;
}
.topbar img:nth-child(4){
    width: 60px;
    height: 60px;
    border-radius: 60px;
}
.topbar h2 {
    margin: 0;
}
.topbar2 {
    display: grid;
    align-items: center;
    grid-row: 2;
    grid-column: 1 / 6;
    grid-template-columns: 2fr 18fr 3fr 3fr 3fr;
}
.topbar2 img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.topbar2 h1 {
    display: block;
}
.topbar p {
    margin: 0;
}
input {
    -webkit-appearance: none;
    border: none;
    height: 2.2rem;
    width: 80%;
    border-radius: 1rem;
    background-color: var(--main-bg-color);
    padding-left: 1rem;
}
input:focus {
    outline: none;
    border: 2px solid var(--dark-bg-color);
}
button {
    background-color: var(--dark-bg-color);
    border: none;
    height: 3rem;
    width: 8rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.2rem;
}